.container {
  width: 42px;
  height: 25px;
  border: 2px solid #53c28b70;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 2px;
}

.icon {
  font-size: 15px;
}

.ball {
  width: 17px;
  height: 17px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
}
